{% macro render_item(item) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                <a href="{{ item.href }}/item/{{ item.id }}">{{ item.item_name }}
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            {{ item.assignee_name }} Date Assigned: {{ item.date_assigned | dateformat("%d/%m/%y") }}
        </h1>
        {{ item.item_description | markdown }}
        {{ item.item_cost | string }}
    </div>
</div>
{% endmacro %}